body {
    background-color: antiquewhite;
}

main {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.bar {
    width: 100%;
    background-color: burlywood;
    text-align: center;
    /*background-color: #333;*/ 
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.bar a {
    color: #f2f2f2;
    text-align: center;
    padding: 3px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}